html,
body {
    margin: 0;
    background: radial-gradient(ellipse at center, #000 60%, #020014 100%);
    /* fixed background when scrolling */
    background-attachment: fixed;
    color: #3fff5f;
    font-family: monospace;
}

/* center content on desktop */
body {
    font-family: "Workbench", monospace;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.1;
}

.main-content {
    max-width: 33%;
}

.titles {
    font-size: x-large;
    text-align: center;
}

.side-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ascii {
    white-space: pre;
    font-size: small;
    text-align: center;
    display: block;
    line-height: normal;
    line-height: 1;
}

.centered-text {
    text-align: center;
}

.left-centered-text {
    text-align: left;
}

.project-title {
    font-size: x-large;
}

.project-title:hover::before {
    content: "> "
}

.project {
    text-align: center;
}

.project-img {
    width: 60%;
}

a {
    color: rgb(0, 183, 255);
}

/* ASCII music icon box */
  #music-box {
    text-align: center;
    user-select: none;
    padding: 15px;
    white-space: pre;
    cursor: pointer;
    transition: 0.1s;
  }

  /* Hover flicker effect */
  #music-box:hover {
    text-shadow: 0 0 6px #00ff00;
  }





summary {
    cursor: pointer;
    /* no text selection */
    user-select: none;
    list-style: none;
    margin: none;
    padding: none;
}


summary::marker {
    display: none;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}


@media (max-width: 600px) {
    .main-content {
        max-width: 100%;
    }

    .project-img {
        width: 90%;
    }
}