html,
body {
    margin: 0;
    background: radial-gradient(ellipse at center, #000 60%, #020014 100%);
    /* fixed background when scrolling */
    background-attachment: fixed;
    color: #3fff5f;
    font-family: monospace;
}

/* center content on desktop */
body {
    font-family: "Workbench", monospace;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.1;
}

.main-content {
    max-width: 33%;
}

.titles {
    font-size: x-large;
    text-align: center;
}

.side-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ascii {
    white-space: pre;
    font-size: small;
    text-align: center;
    display: block;
    line-height: normal;
    line-height: 1;
}

.small-text {
    font-size: small;
}

.centered-text {
    text-align: center;
}

.left-centered-text {
    text-align: left;
}

.project-title {
    font-size: x-large;
}

.project-title:hover {
    text-shadow: 0 0 2px #3fff5f;
    /* Lueur au survol */
}

.project-title:hover::before {
    content: "> "
}

.project {
    text-align: center;
}

.project-img {
    width: 60%;
    cursor: pointer;
}

a {
    color: rgb(0, 183, 255);
}

a:hover {
    text-shadow: 0 0 5px rgb(0, 183, 255);
    /* Lueur au survol */
}

/* ASCII music icon box */
#music-box {
    text-align: center;
    user-select: none;
    padding: 15px;
    white-space: pre;
    cursor: pointer;
    transition: 0.1s;
}

/* Hover flicker effect */
#music-box:hover {
    text-shadow: 0 0 2px #3fff5f;
}

#neighborhood a img:hover {
    filter: brightness(150%);
}

#neighborhood a img {
    padding-top: 4px;
    padding-bottom: 4px;
}

#neighborhood a {
    text-decoration: none;
    /* no underline */
}



summary {
    cursor: pointer;
    /* no text selection */
    user-select: none;
    list-style: none;
    margin: none;
    padding: none;
}

summary:hover {
    text-shadow: 0 0 6px #3fff5f;
}


summary::marker {
    display: none;
}

summary::marker,
summary::-webkit-details-marker {
    display: none;
}

button {
    font-size: medium;
    cursor: pointer;
    background-color: transparent;
    color: #3fff5f;
    font-family: "Workbench", monospace;
    border: none;
}

button:hover {
    text-shadow: 0 0 2px #3fff5f;
}

#pentacle-protocol {
    color: red;
}

#plumbus {
    color: rgb(255, 44, 160);
}

#flop-office {
    color: rgb(255, 255, 154);
}

#evergreen-valley {
    color: rgb(27, 109, 0);
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
    cursor: pointer;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px dashed #3fff5f;
    padding: 0.5rem 1rem;
    background: rgba(0, 255, 0, 0.06);
}

.input-group input {
    flex: 1;
    background: transparent;
    border: none;
    color: #3fff5f;
    font-family: "Workbench", monospace;
    font-size: large;
    outline: none;
    width: 100%;
}

.input-group select {
    background: transparent;
    border: none;
    border-left: 1px solid #3fff5f;
    color: #3fff5f;
    font-family: "Workbench", monospace;
    margin-left: 1rem;
    padding-left: 1rem;
    outline: none;
    cursor: pointer;
    font-size: large;
}

.input-group select option {
    background-color: #000;
    color: #3fff5f;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

#hyoshigi-img {
    cursor: pointer;
}

.pixel-art {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

@media (max-width: 600px) {
    .main-content {
        max-width: 100%;
    }

    .project-img {
        width: 90%;
    }
}